@using ShopOnline.Models
@model ContactModel

@{
    ViewBag.Title = "Index";
}

<div class="container" style="background-color: lavender;">
    <div class="row header" style="padding: 30px">
        <h1 style="text-align: center; width: 100%">CONTACT US &nbsp;</h1>
        <h2 class="alert-success" style="text-align:center;width: 100%;">@ViewBag.SuccessMessage</h2>
    </div>
    @using (Html.BeginForm("Index", "Contact", FormMethod.Post))
    {
        <div class="col-md-12 col-md-offset-2">
            <div class="row form-group">
                <label class="col-md-2">First Name</label>
                <div class="col-md-6">
                    @Html.TextBoxFor(m => m.FirstName, new {@class="form-control", placeholder="First name" })
                    
                </div>
            </div>
            <div class="row form-group">
                <label class="col-md-2">Last Name</label>
                <div class="col-md-6">
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Last name" })
                    
                </div>
            </div>
            <div class="row form-group">
                <label class="col-md-2 required">Email</label>
                <div class="col-md-6">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email address" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class="error-message"})
                </div>
            </div>
            <div class="row form-group">
                <label class="col-md-2">Phone Number</label>
                <div class="col-md-6">
                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", placeholder = "Phone number", @type="number"})
                </div>
            </div>
            <div class="row form-group">
                <label class="col-md-2">Address</label>
                <div class="col-md-6">
                    @Html.TextBoxFor(m => m.Address, new { @class = "form-control", placeholder = "Address" })
                    
                </div>
            </div>
            <div class="row form-group">
                <label class="col-md-2 required">Content</label>
                <div class="col-md-6">
                    @Html.TextAreaFor(m => m.Content, new { @class = "form-control", placeholder = "Content....", rows ="5" })
                    @Html.ValidationMessageFor(m=>m.Content, "",new { @class="error-message"})
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-12 col-md-offset-7">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    }
</div>
